<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<nav class="navbar navbar-expand-lg navbar-light navbar-custom"  style="padding:10px" dir="rtl">
    <div class="container" id="donwnav">
  
       <!-- color:rgb(219, 219, 16)-->
       <!-- <span style="font-size: 40px;color: rgb(253, 244, 220)">نقل </span> -->
        <span style="color:rgba(219, 219, 16, 0.918);font-size: 25px "> 
            <span  class="fas fa-truck-pickup"  style="font-size:48px;color:rgb(255, 188, 5)"></span>
          </span>
          
          
           <span style="width:3px"></span>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" style="color:wheat"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav" >
    <ul class="nav navbar-nav ml-auto" >
  
        <li class="nav-item active">
            <a class="nav-link" routerLink="/home" routerLinkActive="active-link" style="color:rgb(241, 241, 219);font-size: 20px">الرئيسية <span class="sr-only">(current)</span></a>
          </li>
          
      
      <li class="nav-item">
        <a class="nav-link" routerLink="/DriverContent" routerLinkActive="active-link" style="color:rgb(241, 241, 219) ;font-size: 20px"> لوحة الطلبات </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/DriverPersonalPage" routerLinkActive="active-link" style="color:rgb(241, 241, 219) ;font-size: 20px"> الصفحة الشخصية </a>
      </li>


      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active-link" style="color: rgb(241, 241, 219);font-size: 20px" (click)="LogOut()"> تسجيل خروج</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link"  routerLink="/AboutUs" routerLinkActive="active-link" style="color: rgb(241, 241, 219);font-size: 20px">عن الموقع</a>
      </li>
      
    
      </ul>
      
    
      </div>
      </div>
      </nav>
    
  