<app-header></app-header>
<div class="container" dir="rtl">
    <br><br><br>
  <h2 style="text-align: center"><b> خدمات العميل </b></h2><br>
  <h5 style="text-align: center">يتيح الموقع للعميل خدمة توصيل البضائع والشحنات المختلفة من مكان لآخر ويضمن للعميل الأمان ووصول الشحنة فى المعاد المحدد </h5>
  <br>
  <h4 style="text-align: center">ما عليك الا التسجيل فى الموقع واتباع الخطوات الآتية:</h4>
  <div class="row">
      <div class="col-lg-4"><i class="fa fa-map-marker" style="font-size:90px;padding: 40%;padding-top: 30%;padding-bottom: 5%" ></i>
      <div style="font-size:25px;padding: 30%;padding-top:1%;text-align: center">حدد المكان</div>
      </div>
      <div class="col-lg-4"><i class="far fa-hand-point-up" style="font-size:80px;color:rgb(74, 115, 192);padding: 40%;padding-top: 30%;padding-bottom: 5%" ></i>
        <div style="font-size:25px;padding: 30%;padding-top:1%;text-align: center">اختار نوع الشحنة</div>
      </div>
      <div class="col-lg-4"><i class="far fa-thumbs-up" style="font-size:70px;padding: 40%;padding-top: 30%;padding-bottom: 5%;color:rgb(74, 192, 74)" ></i>
        <div style="font-size:25px;padding: 30%;padding-top:1%;text-align: center"> أكد الطلب</div>
      </div>
      </div>
  
    </div>

