<app-header></app-header>
<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins" dir="rtl">
    <div class="wrapper wrapper--w680">
      <div class="card card-4">
        <div class="card-body">
          <h2 class="title" style="text-align: center">التسجيل كعميل</h2>
          <form method="POST">
  
            <div class="row row-space">
              <div class="col-lg-5">
                <div class="input-group">
                  <label class="label"> رقم البطاقه</label>
                  <input class="input--style-4" type="text" name="رقم البطاقة"  required minlength="14" maxlength="14">
                </div>
              </div>
              <div class="col-lg-5">
                <div class="input-group">
                  <label class="label">الاسم </label>
                  <input class="input--style-4" type="text" name="الاسم" 
                   required minlength="4"
                  >
                  <div *ngIf="name.invalid && (name.dirty || name.touched)"
                  class="alert alert-danger">

               <div *ngIf="name.errors.required">
                 الاسم مطلوب
               </div>
                       <div *ngIf="name.errors.minlength">
                 الاسم 4 حروف علي الاقل
               </div>


                 </div>
                </div>
              </div>
  
            </div>
  
  
  
            <div class="row row-space">
                <div class="col-lg-5">
                    <div class="input-group">
                      <label class="label"> رقم الهاتف</label>
                      <input class="input--style-4" type="text" name="رقم الهاتف" required minlength="11" maxlength="11">
                    </div>
                  </div>
              <div class="col-lg-5">
                <div class="input-group">
                  <label class="label"> البريد الالكترونى </label>
                  <input class="input--style-4" type="text" name="البريد">
                </div>
              </div>
  
            </div>
  
  
            <div class="row row-space">
            
                <div class="col-lg-5">
                    <div class="input-group">
                      <label class="label" style="text-align: right">  الرقم السري</label>
                      <input class="input--style-4" type="text" name="رقم البطاقة">
                    </div>
      
      
                  </div>
              <div class="col-lg-5">
                <div class="input-group">
                  <label class="label"> تأكيد الرقم السري </label>
                  <input class="input--style-4" type="text" name="الاسم">
                </div>
              </div>
  
            </div>
  
  
            <div class="p-t-15">
              <button class="btn btn--radius-2 btn--blue" type="submit" style="width:100%">تأكيد</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>