<app-clientheader></app-clientheader>


<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins" dir="rtl">
  <div class="wrapper wrapper--w680">
    <div class="card card-4">
      <div class="card-body">
        <h2 class="title" style="text-align: center"> المحتوي</h2>
        <form method="POST">

          <div class="row row-space" >
            
              <div class="col-lg-4">
                  <div class="input-group">
                    <button class="btn btn--radius-2 btn--blue" type="submit" style="width:100%"><a  class="nav-link"  routerLink="/CurrentRequests" routerLinkActive="active-link" style="text-decoration-style: none;color:white">  الحاليه </a></button>
                    </div>
              </div>

            <div class="col-lg-4">
                <div class="input-group"> 
                  <button class="btn btn--radius-2 btn--blue" type="submit" style="width:100%"> <a class="nav-link"  routerLink="/ClientRequestsHistory" routerLinkActive="active-link" style="text-decoration-style: none;color:white">التي تمت </a></button>
              </div>
            </div>
          </div>

          <div class="row row-space" >


              <div class="col-lg-2">
                
              </div>

            <div class="col-lg-8">
               
                <div class="input-group"> 
              <button class="btn btn--radius-2 btn--blue" type="submit" style="width:100%"> <a class="nav-link"  routerLink="/ClientRequest" routerLinkActive="active-link" style="text-decoration-style: none;color:white">طلب جديد  </a></button>
              </div>
            </div>
            <div class="col-lg-2">
                
              </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>