<app-header></app-header>



<section id="intro">
  <div class="intro-container wow fadeIn">
    <h1 class="mb-4 pb-0"  class="animated fadeInLeft">مرحبا <br><span class="animated fadeInUp" style="color: rgb(255, 188, 5)">نقل</span> للبضائع</h1>
    <p class="mb-4 pb-0" class="animated fadeInUp">نقل لتوفير الوقت والمجهود</p>
    <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video"
      data-autoplay="true"></a>
    <a href="#about" class="about-btn scrollto">Welcome</a>
  </div>
</section>
     

      <div id="About" style="opacity: 0.9;height: 300px;" >
<div class="container-fluid" dir="rtl"style="background-color:back; color:white" >
    
  
  <div class="row" >
     
 <div class="col-lg-12" style="text-align: center;font-size: 40px;color:white" >
    <h1 style="text-align: center; font-family: 'El Messiri', sans-serif;"><b>  انقلى </b></h1 > مرحبا بك في أول موقع الكتروني لشحن ونقل البضائع داخل محافظه أسيوط
 </div>
      </div>
  
    </div>
  </div>


<div class="container" dir="rtl" >
    <br><br><br>
  <h1 style="text-align: center"><b   style=" font-family: 'El Messiri', sans-serif"> لماذا انقلى </b></h1>
  <div class="row" >
      <div class="col-lg-4  "   ><i class="fas fa-coins" style="font-size:70px;color:black;padding: 40%;padding-top: 30%;padding-bottom: 5%" ></i>
      <div style="font-size:30px;padding: 30%;padding-top:1%;text-align: center;font-family: 'El Messiri', sans-serif">توفير فى ثمن الشحنة</div>
      </div>
      <div class="col-lg-4"><i class="fas fa-user-lock" style="font-size:70px;color:rgb(255, 188, 5);padding: 40%;padding-top: 30%;padding-bottom: 5%" ></i>
        <div style="font-size:30px;padding: 30%;padding-top:1%;text-align: center;font-family: 'El Messiri', sans-serif"> ثقة وأمان</div>
      </div>
      <div class="col-lg-4"><i class="fas fa-truck-moving" style="font-size:70px;color:rgb(1, 43, 54);padding: 40%;padding-top: 30%;padding-bottom: 5%" ></i>
        <div style="font-size:30px;padding: 30%;padding-top:1%;text-align: center;font-family: 'El Messiri', sans-serif"> مش هترجع فاضى</div>
      </div>
      </div>
  


      <app-contact-us style=" font-family: 'El Messiri', sans-serif;"></app-contact-us>