<app-header></app-header>


<div class="container" dir="rtl">
    <br><br><br>
  <h2 style="text-align: center"><b> خدمات السائق </b></h2><br>
  <h5 style="text-align: center">يتيح الموقع للسائق امكانية الحصول على طلبات للشحن والنقل والوصول الى اكبر قدر ممكن من العملاء واختيار الشحنات اللتى سيقوم بنقلها بناء على حالته ومكانه الحالي والحصول على تقييم من العملاء يساعد الموقع فى ترشيحه لطبات اخرى </h5>
  <br>
  <h4 style="text-align: center">ما عليك الا التسجيل فى الموقع واتباع الخطوات الآتية:</h4>
  <div class="row">
      <div class="col-lg-4"><i class="fas fa-chalkboard" style="font-size:90px;padding: 40%;padding-top: 30%;padding-bottom: 5%" ></i>
      <div style="font-size:20px;padding: 30%;padding-top:1%;text-align: center">ادخل على لوحة الموقع لتري الطلبات الحالية </div>
      </div>
      <div class="col-lg-4"><i class="far fa-hand-point-up" style="font-size:80px;color:rgb(74, 115, 192);padding: 40%;padding-top: 30%;padding-bottom: 5%" ></i>
        <div style="font-size:20px;padding: 30%;padding-top:1%;text-align: center"> قم باختيار الطلب الذى تريد إيصاله وسينتقل الي قائمة المهام الخاصة بك لتنفذه وتحصل على تقييم من العميل </div>
      </div>
      <div class="col-lg-4"><i class="fa fa-clipboard" style="font-size:70px;padding: 40%;padding-top: 30%;padding-bottom: 5%;color:rgb(74, 192, 74)" ></i>
        <div style="font-size:20px;padding: 30%;padding-top:1%;text-align: center">للاعتذار عن طلب قمت باختياره ما عليك إلا ان تنتقل الي قائمة المهام الخاصة بك والضغط على الاعتذار عن الطلب وذلك قبلها بفترة زمنيه كافية </div>
      </div>
      </div>
  
    </div>
  
  