<app-header></app-header>
<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins"  style="background-color: #B18F9A"dir="rtl">
    <div class="wrapper wrapper--w680"  tyle="background-color: #B18F9A">
      <div class="card card-4">
        <div class="card-body">
          <h2 class="title" style="text-align: center">التسجيل في الموقع</h2>
          <form method="POST">
  
            <div class="row row-space">
           
                <div class="col-lg-5">
                    <div class="input-group">
                        <!-- <a class="nav-link"  routerLink="/Register" routerLinkActive="active-link"> -->
                        <button class="btn btn--radius-2 btn--blue" type="submit" style="width:100%"><a  class="nav-link"  routerLink="/Register" routerLinkActive="active-link" style="text-decoration-style: none;color:white">التسجيل كسائق </a></button>
      
                      </div> 
                    </div>
          
              <div class="col-lg-5">
                  <div class="input-group">
                      <!-- <a class="nav-link"  routerLink="/Register" routerLinkActive="active-link"> -->
                      <button class="btn btn--radius-2 btn--blue" type="submit" style="width:100%"><a  class="nav-link"  routerLink="/UserRegister" routerLinkActive="active-link" style="text-decoration-style: none;color:white">التسجيل كعميل </a></button>
                



                      
                  </div>
                </div>
                
              </div>
    
          </form>
        </div>
      </div>
    </div>
  </div>


  <!-- <div>
    <h1>التسجيل في الموقع </h1>
    <p>{{bodyText}}</p>
    <button (click)="openModal('custom-modal-1')">Open Modal 1</button>
    <button (click)="openModal('custom-modal-2')">Open Modal 2</button>
</div>


<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins"  style="background-color: #B18F9A"dir="rtl">
  <div class="wrapper wrapper--w680"  tyle="background-color: #B18F9A">
    <div class="card card-4">
      <div class="card-body">
        <h2 class="title" style="text-align: center">التسجيل في الموقع</h2>
        <form method="POST">

          <div class="row row-space">
         
              <div class="col-lg-5">
                  <div class="input-group">
                      
                    
                      <button class="btn btn--radius-2 btn--blue" type="submit" style="width:100%" (click)="openModal('custom-modal-1')">التسجيل كسائق </button>
    
                    </div> 
                  </div>
        
            <div class="col-lg-5">
                <div class="input-group">
                  
                    <button class="btn btn--radius-2 btn--blue" type="submit" style="width:100%" >التسجيل كعميل </button>
              



                    
                </div>
              </div>
              
            </div>
  
        </form>
      </div>
    </div>
  </div>
</div> -->



<!-- <jw-modal id="custom-modal-1">
    <h1>A Custom Modal!</h1>
    <p>Home page text: <input type="text" [(ngModel)]="bodyText" /></p>
    <button (click)="closeModal('custom-modal-1');">Close</button>
</jw-modal>

<jw-modal id="custom-modal-2">
    <h1 style="height:1000px">A Tall Custom Modal!</h1>
    <button (click)="closeModal('custom-modal-2');">Close</button>
</jw-modal> -->