<app-driver-header></app-driver-header>



<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins" dir="rtl" style="background-color: brown" >
  <div class="wrapper wrapper--w680 "  >
    <div class="card card-4" >
      <div class="card-body">
        <h2 class="title" style="text-align: center">الطلبات المتاحه</h2>
        <form method="POST">

          <div class="row row-space"  *ngFor="let request of ClientRequests |paginate: { itemsPerPage: 1, currentPage: p }">
            <div class="col-lg-2">
              <div class="input-group">
                <label class="label"> من</label><br>
                <div class="input--style-4" type="text" name="رقم البطاقة">{{request.Location}}</div>
              </div>
            </div>
          
            <div class="col-lg-2">
              <div class="input-group">
                <label class="label">الي </label>
                <div class="input--style-4" type="text" name="رقم البطاقة">{{request.Destination}}</div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="input-group">
                <label class="label"> الوقت</label>
                <div class="input--style-4" type="text" name="رقم البطاقة">{{request.TripTime}}</div>
              </div>
            </div>



            <div class="row row-space" style="display: none" >
              <div class="input-group">
                <label class="label"> الوقت</label>
                <div class="input--style-4"  >{{request.RequestID}}</div>
              </div>
            </div>
            <div class="col-lg-4">
                <div class="input-group">تأكيد
              <button class="btn btn--radius-2 btn--blue" type="submit" style="width:100% ;background-color: rgb(3, 12, 43)" (click)="AcceptRequesst(request.RequestID)">موافق</button>
              </div>
            </div>
                    
          </div>

        </form>
        <div class="pagination" style="font-language-override: initial">  
          <pagination-controls (pageChange)="p = $event" previousLabel="السابق" 
          nextLabel="التالي"

          
          ></pagination-controls>  
        </div>
      </div>
    </div>
  </div>

</div>
